{{> header}}
<div style="background-color: white;">
<nav class="navbar navbar-expand-lg" style="background-color: rgb(189, 112, 112);">
  <h1 style="font-style: italic;">{{user.userName}}</h1>
</nav>
<button type = button><a href = "/">Back to Feed</a></button>
</div>
<div class="idk">
<h2>Your Posts!</h2>


      <ul>
        {{#each messages}}
          <li>
            <div class="message-body">
              <video height= "300" width= "300" controls>
              <source src={{imageLink}} type="video/mp4">
              </video>
            </div>
            <div class= "message-caption">
              <p>{{caption}}</p>
            </div>
            <div class= "message-hashtag">
              <a href= "/hashtags/{{hashtag}}"> {{hashtag}} </a>
            </div>
            <div class="message-timestamp">
              Posted on {{createdAt}}
            </div>
          </li>
        {{/each}}
      </ul>
      </div>
